<app-nav-bar></app-nav-bar>
<div class="container mt-1">
  <div class="mb-3" *ngIf="!formHidden">
    <form [formGroup]="postForm" (ngSubmit)="addNewPost()">
      <div class="form-group">
        <label for="post"></label>
        <input class="form-control" type="text" formControlName="post" id="post" placeholder="What's happening..."/>
      </div>
      <button class="btn btn-primary mt-2" type="submit">POST</button>
    </form>
  </div>

  <div class="float-left mb-2">
    <button class="btn rounded-circle btn-outline-primary position-fixed start-0 mb-4 ml-4" (click)="toggleForm()" title="Add New Post">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>

  <div class="border mb-5" *ngFor="let post of posts" >
    <div class="border d-flex justify-content-between">
      <h6 class="text-sm-start mt-2">
        <img src="https://robohash.org/{{post.user.id}}/?set=set2" height="50" width="50">{{post.user.firstName}} {{post.user.lastName}}
      </h6>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary" (click)="editPost(post)" title="Edit"><fa-icon [icon]="faPen"></fa-icon></button>
        <button type="button" class="btn btn-danger" (click)="deletePost(post.id)" title="Delete"><fa-icon [icon]="faTrash"></fa-icon></button>
      </div>
    </div>

    <div class="container border">
      <p class="text-sm-end small">Date Posted: {{post.date | date:'yyyy-MM-dd'}}</p>
      <h3 class="text-sm-center">{{post.post}}</h3>
      <div class="d-flex justify-content-end">
        <div class="d-inline-flex flex-column align-items-center">
          <button type="button" class="btn btn-primary" [class.highlighted]="!isLikedByUser(post.id)" title="Like" (click)="liked(post.id)">
            <fa-icon [icon]="like"></fa-icon>
          </button>
          <p class="text">{{this.findPostLikes(post.id)}}</p>
        </div>
      </div>
    </div>

    <div class="container border" *ngFor="let comment of post.comments">
      <div class="small d-flex justify-content-between">
        <p> <img src="https://robohash.org/{{comment.user.id}}/?set=set2" height="50" width="50">{{comment.user.firstName}} {{comment.user.lastName}}</p>
        <p class="text-sm-end">Date Posted: {{comment.date | date:'yyyy-MM-dd'}}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="text-large mt-2">{{comment.comment}}</p>
        <button type="button" class="btn btn-danger mb-3" (click)="deleteComment(comment.id)" title="Delete"><fa-icon [icon]="faTrash"></fa-icon></button>
      </div>
    </div>

    <div class="container border">
      <form [formGroup]="commentForm" (ngSubmit)="addNewComment(post.id)">
        <div class="form-group mb-2">
          <label for="comment"></label>
          <input placeholder="Post your reply" id="comment" formControlName="comment" class="form-control" type="text"/>
        </div>
        <button class="btn btn-primary mb-2" type="submit">Comment</button>
      </form>
    </div>
  </div>
</div>
