<div class="container">
  <h1 class="card-header m-lg-3">SMC</h1>
  <div class="container">
    <form [formGroup]="signInForm" (ngSubmit)="validate()">
      <div class="form-group col-sm-4">
        <label for="email"><span style="color: red">*</span>Email</label>
        <input class="form-control" formControlName="email" id="email" type="text" />
        <div style="color: red" *ngIf="signInForm.get('email')?.errors?.['required'] && signInForm.get('email')?.touched">
          Please provide email.
        </div>
        <div style="color: red" *ngIf="signInForm.get('email')?.errors?.['email'] && signInForm.get('email')?.touched">
          Invalid email.
        </div>
      </div>
      <div class="form-group col-sm-4">
        <label for="password"><span style="color: red">*</span>Password</label>
        <input class="form-control" formControlName="password" id="password" type="password" />
        <div style="color: red" *ngIf="signInForm.get('password')?.errors?.['required'] && signInForm.get('password')?.touched">
          Please provide password.
        </div>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-primary m-1" type="submit">Log In</button>
        <button class="btn btn-primary m-1" type="button" routerLink="/signUp">Sign Up</button>
      </div>
    </form>
  </div>
</div>
